<div class="w3l_banner_nav_right">
    <!-- login -->
            <div class="w3_login">
                <h3>Sign In & Sign Up</h3>
                <div class="w3_login_module">
                    <div class="module form-module">
                      <div class="toggle"><i class="fa fa-times fa-pencil"></i>
                        <div class="tooltip">Click Me</div>
                      </div>
                      <div class="form">
                        <h2>Login to your account</h2>
                        <form action="#" method="post">
                          <input type="text" name="Username" placeholder="Username" required=" ">
                          <input type="password" name="Password" placeholder="Password" required=" ">
                          <input type="submit" value="Login">
                        </form>
                      </div>
                      <div class="form">
                        <h2>Create an account</h2>
                        <!--Registration using Template Driven Form-->
                        <form (submit)="doRegistration(f)" #f="ngForm">
                          <input type="text" name="Username" #usrname="ngModel" ngModel placeholder="Username" required>
                          <p *ngIf=" usrname.touched && usrname.invalid" class="alert alert-danger">
                            Please enter username
                          </p>
                          <input type="password" #prc="ngModel" name="Password" ngModel placeholder="Password" required>
                          <p *ngIf="prc.touched && prc.invalid" class="alert alert-danger">
                            Please enter password
                          </p>
                          <input type="email" #email="ngModel" name="Email" ngModel placeholder="Email Address" required>
                          <p *ngIf="email.touched && email.invalid" class="alert alert-danger">
                            Please enter email
                          </p>
                          <input type="text" #ph="ngModel" name="Phone" ngModel placeholder="Phone Number" required>
                          <p *ngIf="ph.touched && ph.invalid" class="alert alert-danger">
                            Please enter phone number
                          </p>
                          <input type="submit" value="Register">
                        </form>
                      </div>
                      <div class="cta"><a href="#">Forgot your password?</a></div>
                    </div>
                </div>
               
            </div>
    <!-- //login -->
            </div>
            <div class="clearfix"></div>